//
// Variables
//

//Tipografía
$sans: Helvetica, Arial, sans-serif;

//Colores
$main-text: #000;
$title: #fff;
$destacado1: #00a0aa; // Turqueise
$destacado2: #ff7800; //orange
$background1: #fff; 
$background2: #cdcdcd; //Gey
$border: #aeaeae;

// Layout
$max-width: 1400px;
$content-width: 960px;